<ion-view title="Configuración" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="configuraciN-form2" class="list ">
            <label class="item item-input " id="configuraciN-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="configuraciN-input3">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="configuraciN-input2">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="configuraciN-toggle1" class=" ">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>