<ion-view title="Detalle" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="detalle-card21">
            <ion-item class="" id="detalle-list-item4">
                <h2>{{ item.student_firstname }} {{ item.student_lastname }}</h2>
            </ion-item>
            <div class="item item-body " id="detalle-list-item-container1">
                <ion-list id="detalle-list2" class=" ">
                    <ion-item>{{ item.student_firstname }}</ion-item>
                    <ion-item>{{ item.student_lastname }}</ion-item>
                    <ion-item>{{ item.student_email }}</ion-item>
                    <ion-item>{{ item.student_phone }}</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>