<ion-view title="Detalle" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="detalle-card21">
            <ion-item class="item-avatar  " id="detalle-list-item4">
                <h2>Item</h2>
            </ion-item>
            <div class="item item-body " id="detalle-list-item-container1">
                <ion-list id="detalle-list2" class=" ">
                    <ion-item id="detalle-list-item6" class="  ">Item 1</ion-item>
                    <ion-item id="detalle-list-item9" class="  ">Item 1</ion-item>
                    <ion-item id="detalle-list-item10" class="  ">Item 1</ion-item>
                    <ion-item id="detalle-list-item11" class="  ">Item 1</ion-item>
                    <ion-item id="detalle-list-item7" class="  ">Item 2</ion-item>
                </ion-list>
                <p id="detalle-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>